<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/create.css">
    <title>Create workspace</title>
</head>

<body>
    <div class="container">
        <div class="top-items">
            <a href="/login">
                <button class="login">Log In</button>
            </a>
            <a class="item2" href="/sign-up">
                <button class="signup">Sign Up</button>
            </a>
        </div>

        <div class="heading1">
            <img src="images/notes.jpg" width="100px" height="100px" alt="">
            <img src="images/notes1.jpg" width="100px" height="100px" alt="">
            <h2>Welcome to Walkover Docs Platform</h2>
        </div>
        <div class="">
            <h1>Create a new workspace</h1>
            <h3>Make sure to enter unique name for your workspace</h3>
            <form action="/" method="post">
                <div>
                    <input type="text" name="new_workspace" placeholder="Enter workspace name" autocomplete="off">
                </div>
                <div>
                    <button type="button" class="btn-create" onclick="showmsg()">LAUNCH</button>
                </div>
            </form>
        </div>


    </div>
    <script>
        function showmsg() {
            window.alert("Please first login!!");
        }
    </script>
</body>

</html>